.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--space-3xs) var(--space-xs);
  justify-content: space-between;
  margin-block-start: var(--space-3xs);

  .filters-wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: var(--space-s);

    label {
      font-size: var(--step--1);
    }

    > * {
      width: 100%;
      flex-grow: 1;
    }

    @media screen and (min-width: 768px) {
      > * {
        width: auto;
        flex-grow: 0;
      }
    }
  }

  .search-input,
  select,
  .ms-choice {
    width: 100%;
    height: var(--space-l);
    font-size: var(--step--1);
    color: var(--color-bg-primary);
    border-radius: var(--space-3xs);
    background-color: var(--color-fg-primary);
    border: 1px solid var(--color-fg-primary);
    padding: var(--space-2xs) var(--space-xs) var(--space-3xs);

    &::selection {
      color: var(--color-fg-primary);
      background-color: var(--color-bg-primary);
    }
    &::-moz-selection {
      color: var(--color-fg-primary);
      background-color: var(--color-bg-primary);
    }

    &::placeholder {
      opacity: 0.5;
      overflow: visible;
      color: var(--color-bg-primary);
    }
  }

  .select-wrap {
    position: relative;

    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      min-width: 200px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: var(--step-1);

      &::-ms-expand {
        display: none;
      }
    }

    @supports (appearance: base-select) {
      select,
      ::picker(select) {
        appearance: base-select;
      }

      select {
        cursor: pointer;
        padding-inline-end: 0;
        background-image: none;
        text-transform: capitalize;

        selectedcontent {
          line-height: 1.45;
        }

        &::picker-icon {
          width: var(--step-1);
          height: var(--step-1);
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
        }

        &:open {
          border-radius: var(--space-3xs) var(--space-3xs) 0 0;
        }

        &::picker(select) {
          min-width: 202px;
          left: anchor(left);
          right: anchor(right);
          margin-inline: -1px;
          border: 1px solid var(--color-bg-primary);
          border-top-color: color-mix(currentcolor 10%, transparent);
          border-radius: 0 0 var(--space-3xs) var(--space-3xs);
          background-color: var(--color-fg-primary);
        }

        option {
          --option-color-light: color-mix(
            in srgb,
            var(--option-color) 90%,
            #fff
          );
          padding: 0.35em 0.6em;
          background-color: var(--option-color-light);
          color: contrast-color(var(--option-color));
          --option-color-hover: color-mix(
            in srgb,
            var(--option-color) 80%,
            #000
          );

          &:hover,
          &:focus-visible {
            background-color: var(--option-color-hover);
            color: contrast-color(var(--option-color-hover));
          }

          &.option-all {
            &:hover,
            &:focus-visible {
              background-color: color-mix(currentcolor 10%, transparent);
            }
          }

          .option-icon {
            width: var(--step-1);
            height: var(--step-1);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM5 5V19H19V5H5Z'%3E%3C/path%3E%3C/svg%3E");
          }

          .option-label {
            text-transform: capitalize;
          }

          &:checked {
            .option-icon {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM5 5V19H19V5H5ZM11.0026 16L6.75999 11.7574L8.17421 10.3431L11.0026 13.1716L16.6595 7.51472L18.0737 8.92893L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
            }
          }

          &::checkmark {
            display: none;
          }
        }

        /* Favorites Option */
        option[value='favorites'] {
          --option-color: var(--color-warning);
        }
      }
    }
  }

  .search-input-wrap {
    position: relative;

    .clear-btn {
      top: 50%;
      right: 0;
      padding: 0;
      border: none;
      cursor: pointer;
      appearance: none;
      background: none;
      position: absolute;
      width: var(--step-1);
      height: var(--step-1);
      transform: translateY(-50%);
    }

    input:placeholder-shown + #clearBtn {
      opacity: 0;
      pointer-events: none;
    }
  }

  .search-input {
    min-width: 300px;
  }

  .input-wrap {
    label {
      display: block;
      margin-block-end: var(--space-3xs);
    }
  }

  /* Clear Filters Button */
  .clear-filters-btn {
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    appearance: none;
    background: none;
    align-items: center;
    margin-block-end: 8px;
    gap: var(--space-3xs);
    font-size: var(--step--1);
    color: var(--color-fg-primary);

    &.hidden {
      display: none;
    }

    svg {
      width: var(--step-1);
      height: var(--step-1);
    }

    > span {
      text-underline-offset: 0.15em;
    }

    &:hover,
    &:focus {
      > span {
        text-decoration: underline;
      }
    }
  }

  /* Multiple Select */
  .ms-parent {
    --ms-icon-size: var(--step-1);
    --ms-chevron-icon-size: var(--step-1);
    --ms-checkbox-icon-container-border: none;
    --ms-checkbox-color: var(--color-bg-primary);
    --ms-checkbox-hover-color: var(--color-bg-primary);
    --ms-placeholder-color: color-mix(
      in srgb,
      var(--color-bg-primary) 50%,
      transparent
    );
    width: 100%;

    &.ms-parent-open {
      .ms-choice {
        border-radius: var(--space-3xs) var(--space-3xs) 0 0;
      }
    }
  }

  .ms-choice {
    width: 100%;
    min-width: 300px;
    padding-inline-end: 0;

    > span {
      line-height: 1;
      text-transform: capitalize;
    }

    &:focus-visible {
      outline: revert;
      box-shadow: none;
    }
  }

  .ms-drop {
    --ms-drop-background: var(--color-fg-primary);
    --ms-option-highlight-bg-color: color-mix(currentcolor 10%, transparent);
    border-radius: 0 0 var(--space-3xs) var(--space-3xs);

    &.bottom {
      box-shadow: none;
      border: 1px solid var(--color-bg-primary);
      border-top: none;
      inset-inline: -1px;
    }
  }

  .ms-list {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-primary) var(--color-fg-primary);
  }

  .ms-search input {
    --ms-search-input-color: var(--color-bg-primary);
    --ms-search-input-bg-color: var(--color-fg-primary);
    font-size: var(--step--1);
    font-family: var(--font-mono);
    padding-block: var(--space-3xs);
  }

  .ms-drop ul > li label {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0.35em 0.6em;
    font-size: var(--step--1);
    text-transform: capitalize;
  }

  .li:not(.hide-radio) .icon-checkbox-container,
  .ms-drop li:not(.hide-radio) .icon-checkbox-container {
    width: var(--step-1);
    height: var(--step-1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM5 5V19H19V5H5Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .ms-icon-check {
      display: none;
    }

    &:has(.ms-icon-check) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM5 5V19H19V5H5ZM11.0026 16L6.75999 11.7574L8.17421 10.3431L11.0026 13.1716L16.6595 7.51472L18.0737 8.92893L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  .ms-icon-caret {
    --ms-icon-caret-icon-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
  }
  .ms-icon-close {
    --ms-search-icon-close-margin: 0 -2px 0 7px;
    --ms-icon-close-icon-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z'%3E%3C/path%3E%3C/svg%3E");
    margin-inline-end: 0;
  }
}
