@font-face {
  font-family: 'PicNic';
  src: url('/fonts/PicNic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Canoe Rental';
  src: url('/fonts/YRTCanoeRental.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Ginza Loop';
  src: url('/fonts/YRTGinzaLoop.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
