.tag {
  --tag-color: var(--color-fg-primary);
  display: inline-flex;
  padding: 0.125em 0.5em;
  font-size: var(--step--2);
  font-family: var(--font-mono);
  border-radius: var(--space-3xs);
  background-color: var(--tag-color);
  color: contrast-color(var(--tag-color));

  &:has(svg) {
    padding: 0;
    aspect-ratio: 1 / 1;

    svg {
      width: auto;
      height: var(--step-1);
      color: var(--color-bg-primary);
      transition: transform 0.2s ease-in-out;
    }
  }
}

button.tag,
a.tag {
  &:hover,
  &:focus-visible {
    background-color: color-mix(in srgb, var(--tag-color) 90%, #000);
  }

  &:active {
    transform: scale(0.97);
  }
}

summary:has(.tag) {
  &:hover,
  &:focus-visible {
    .tag {
      background-color: color-mix(in srgb, var(--tag-color) 90%, #000);
    }
  }

  &:active {
    .tag {
      transform: scale(0.97);
    }
  }
}

.button {
  --button-rotation: 0deg;
  position: relative;
  align-items: center;
  display: inline-flex;
  gap: var(--space-3xs);
  text-decoration: none;
  font-size: var(--step-1);
  color: var(--color-bg-primary);
  font-family: var(--font-display);
  transform: rotate(var(--button-rotation));
  padding: var(--space-2xs) var(--space-2xs) var(--space-3xs);

  &::before {
    inset: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    filter: url(#border-noise);
    border-radius: var(--space-3xs);
    background-color: var(--color-accent);
  }

  span {
    position: relative;
  }

  &:hover,
  &:focus-visible {
    transform: rotate(0deg);
    text-decoration: underline;
    color: var(--color-bg-primary);
  }

  &:active {
    &::before {
      transform: scale(0.97);
    }
  }
}
